<!DOCTYPE html>
<html>
<head>
    <title>Data Deletion Instructions</title>
</head>
<body>
<h1>Data Deletion Instructions</h1>
<p>If you wish to delete your data collected by our app, please follow these steps:</p>
<ol>
    <li>Send us an email at ragheadb@gmail.com with your user ID.</li>
    <li>We will process your request and delete your data within 30 days.</li>
    <li>You will receive a confirmation email once your data has been deleted.</li>
</ol>
</body>
</html>
