<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<style>
    body {
        margin: 0;
        overflow: hidden;
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
        background: black;
    }
    #container {
        margin-top: 10%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .color-div {
        height: 300px; /* Example height */
        width: 100%; /* Example width */
        transition: opacity 1s;
    }
    label {
        display: block;
        margin-bottom: 10px;
        color: #333;
        width: auto;
        text-align: center;
    }
    label, input {
        margin: 10px;
    }
    div {
        text-align: center;
    }
    input, p {
        font-size: 16px;
        border: none;
        background: none;
        border-radius: 10%;
        position: relative;
        display: inline-block;
        padding: 3px 6px;
        font-weight: bold;
        text-decoration: none;
        color: #7f9eb9;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        overflow: hidden;
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;
    }
    input[type="submit"]:hover {
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        background-color: #7f9eb9;
        color: #050801;
        -webkit-box-shadow: 0 0 5px #7f9eb9,
        0 0 10px #7f9eb9,
        0 0 20px #7f9eb9,
        0 0 30px #7f9eb9;
        box-shadow: 0 0 5px #7f9eb9,
        0 0 10px #7f9eb9,
        0 0 20px #7f9eb9,
        0 0 30px #7f9eb9;
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
    input[type="text"], input[type="password"], input[type="email"] {
        border: solid 1px white;
    }
    input[type="file"] {
        display: none;
    }
    input[type="checkbox"] {
        margin: 0;
    }

    #error-message {
        color: red;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        $("#changePassword").on("submit", function(event) {
            event.preventDefault();
            console.log("submitted")
                const formData = $(this).serialize();
                $.ajax({
                    url: '/resetPassword',
                    type: 'POST',
                    data: formData,
                    success: function (res) {
                        console.log("success")
                    },
                    error: function (err) {
                        // Handle error
                        // Display the error message from the response on your HTML page
                        $("#divBlue").hide();
                        $("#divRed").show()
                        $('#error-message').text(err.responseJSON.message);
                    }
                });
        })
    })

</script>
<body>
<div id="container">
<form id="changePassword">
<label><input type="password" placeholder="Password" name="password" required></label>
<label><input type="password" placeholder="Confirm Password" name="passwordConfirm" required></label>
<label><input name="userID" value="<%= user.id%>" type="hidden"></label>
    <label><input type="submit" value="Change Password"></label>
    <div id="error-message" style="color: red;"></div>
</form>
</div>
<div id="divBlue" class="color-div" style="background: linear-gradient(to top, rgba(127,158,185, 0.25),black) no-repeat bottom;"></div>
<div id="divRed" class="color-div" style="background: linear-gradient(to top, rgba(255, 0, 0, 0.25),
        black) no-repeat bottom; display: none"></div>
<div id="divGreen" class="color-div" style="background: linear-gradient(to top, rgba(0, 255, 0, 0.25),
        black) no-repeat bottom; display: none;"></div>
</body>
</html>