<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMDb</title>
</head>
<%- include('partials/header') %>
<body>
To be Honest, I just copied the content from the source code and pasted it, so the styling is going to be bad since there isn't really a reason to fix it, so I'm leaving it as is

<section class="ipc-page-background ipc-page-background--base">
    <div class="ipc-page-grid ipc-page-grid--bias-left">
        <div class="ipc-page-grid__item ipc-page-grid__item--span-2">
            <section class="sc-a2dd587f-0 cXRfLx">
                <section data-testid="videos-section" cel_widget_id="StaticFeature_Videos"
                         class="ipc-page-section ipc-page-section--base celwidget"
                         data-csa-c-id="2sj67b-i746b4-2rxmyk-yoh7jk">
                    <div class="ipc-title ipc-title--base ipc-title--section-title ipc-title--on-textPrimary"
                         data-testid="videos-title">
                        <hgroup><h3 class="ipc-title__text">About MMDb</h3></hgroup>
                    </div>
                    <div class="ipc-shoveler ipc-shoveler--baseAlt ipc-shoveler--page0" role="group"
                         data-testid="shoveler">
                        <div class="ipc-shoveler__arrow ipc-shoveler__arrow--left ipc-pager ipc-pager--left ipc-pager--large"
                             role="presentation">
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                 class="ipc-icon ipc-icon--chevron-left-inline ipc-icon--inline ipc-pager-icon"
                                 viewBox="0 0 24 24" fill="currentColor" role="presentation">
                                <path d="M18.378 23.369c.398-.402.622-.947.622-1.516 0-.568-.224-1.113-.622-1.515l-8.249-8.34 8.25-8.34a2.16 2.16 0 0 0 .548-2.07A2.132 2.132 0 0 0 17.428.073a2.104 2.104 0 0 0-2.048.555l-9.758 9.866A2.153 2.153 0 0 0 5 12.009c0 .568.224 1.114.622 1.515l9.758 9.866c.808.817 2.17.817 2.998-.021z"></path>
                            </svg>
                        </div>
                        <div class="ipc-sub-grid ipc-sub-grid--page-span-2 ipc-sub-grid--nowrap ipc-shoveler__grid"
                             data-testid="shoveler-items-container">
                            <div class="ipc-slate-card ipc-slate-card--base ipc-slate-card--dynamic-width sc-d729715-0 dwqpGY videos-slate-card ipc-sub-grid-item ipc-sub-grid-item--span-4"
                                 role="group" data-testid="feature-video-shoveler">
                                <div class="ipc-slate ipc-slate--base ipc-slate--dynamic-width ipc-slate-card__slate ipc-sub-grid-item ipc-sub-grid-item--span-4"
                                     role="group">
                                    <div class="ipc-media ipc-media--slate-16x9 ipc-image-media-ratio--slate-16x9 ipc-media--base ipc-media--slate-m ipc-slate__slate-image ipc-media__img"
                                         style="width:100%"><img alt="MMDb Is the No. 1 Place for Entertainment Fans"
                                                                 class="ipc-image" loading="lazy"
                                                                 src="https://m.media-amazon.com/images/M/MV5BZGRlNmViYjktMjU5YS00ZGRlLWIxYmQtMDQwNWRkNjlkZTI0XkEyXkFqcGdeQXRyYW5zY29kZS13b3JrZmxvdw@@._V1_QL75_UX500_CR0,0,500,281_.jpg"
                                                                 srcset="https://m.media-amazon.com/images/M/MV5BZGRlNmViYjktMjU5YS00ZGRlLWIxYmQtMDQwNWRkNjlkZTI0XkEyXkFqcGdeQXRyYW5zY29kZS13b3JrZmxvdw@@._V1_QL75_UX500_CR0,0,500,281_.jpg 500w, https://m.media-amazon.com/images/M/MV5BZGRlNmViYjktMjU5YS00ZGRlLWIxYmQtMDQwNWRkNjlkZTI0XkEyXkFqcGdeQXRyYW5zY29kZS13b3JrZmxvdw@@._V1_QL75_UX750_CR0,0,750,422_.jpg 750w, https://m.media-amazon.com/images/M/MV5BZGRlNmViYjktMjU5YS00ZGRlLWIxYmQtMDQwNWRkNjlkZTI0XkEyXkFqcGdeQXRyYW5zY29kZS13b3JrZmxvdw@@._V1_QL75_UX1000_CR0,0,1000,563_.jpg 1000w"
                                                                 sizes="100vw, (min-width: 480px) 68vw, (min-width: 600px) 52vw, (min-width: 1024px) 32vw, (min-width: 1280px) 32vw"
                                                                 width="500"></div>
                                    <a data-testid="videos-slate-overlay-1" class="ipc-lockup-overlay ipc-focusable"
                                       href="/video/vi1888601881/?listId=ls020397192&amp;ref_=fea_vi_i_1"
                                       aria-label="ClipMMDb Is the No. 1 Place for Entertainment Fans">
                                        <div class="ipc-lockup-overlay__screen"></div>
                                        <div class="ipc-lockup-overlay__gradient ipc-lockup-overlay__gradient--linear"></div>
                                        <div class="ipc-lockup-overlay__content">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 class="ipc-icon ipc-icon--play-circle-outline ipc-lockup-overlay__icon"
                                                 viewBox="0 0 24 24" fill="currentColor" role="presentation">
                                                <path d="M10.8 15.9l4.67-3.5c.27-.2.27-.6 0-.8L10.8 8.1a.5.5 0 0 0-.8.4v7c0 .41.47.65.8.4zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path>
                                            </svg>
                                            <span class="ipc-lockup-overlay__text">Clip 3:20</span></div>
                                    </a></div>
                                <div class="ipc-slate-card__content">
                                    <div class="ipc-slate-card__text-container"><a
                                                class="ipc-slate-card__title ipc-slate-card__title--clickable VideoSlate__title"
                                                aria-label="ClipMMDb Is the No. 1 Place for Entertainment Fans"
                                                data-testid="videos-slate-card-title-1"
                                                href="/video/vi1888601881/?listId=ls020397192&amp;ref_=fea_vi_t_1">
                                            <div class="ipc-slate-card__title-text ipc-slate-card__title-text--clamp-2">
                                                MMDb Is the No. 1 Place for Entertainment Fans
                                            </div>
                                        </a></div>
                                </div>
                            </div>
                            <div class="ipc-slate-card ipc-slate-card--base ipc-slate-card--dynamic-width sc-d729715-0 dwqpGY videos-slate-card ipc-sub-grid-item ipc-sub-grid-item--span-4"
                                 role="group" data-testid="feature-video-shoveler">
                                <div class="ipc-slate ipc-slate--base ipc-slate--dynamic-width ipc-slate-card__slate ipc-sub-grid-item ipc-sub-grid-item--span-4"
                                     role="group">
                                    <div class="ipc-media ipc-media--slate-16x9 ipc-image-media-ratio--slate-16x9 ipc-media--base ipc-media--slate-m ipc-slate__slate-image ipc-media__img"
                                         style="width:100%"><img alt="D23 Sizzle Reel 2023" class="ipc-image"
                                                                 loading="lazy"
                                                                 src="https://m.media-amazon.com/images/M/MV5BYzI2ZTkzMTgtNWZiNi00Mjg4LTgwY2EtNjE0NmE3NjFhY2JkXkEyXkFqcGdeQXZ3ZXNsZXk@._V1_QL75_UX500_CR0,0,500,281_.jpg"
                                                                 srcset="https://m.media-amazon.com/images/M/MV5BYzI2ZTkzMTgtNWZiNi00Mjg4LTgwY2EtNjE0NmE3NjFhY2JkXkEyXkFqcGdeQXZ3ZXNsZXk@._V1_QL75_UX500_CR0,0,500,281_.jpg 500w, https://m.media-amazon.com/images/M/MV5BYzI2ZTkzMTgtNWZiNi00Mjg4LTgwY2EtNjE0NmE3NjFhY2JkXkEyXkFqcGdeQXZ3ZXNsZXk@._V1_QL75_UX750_CR0,0,750,422_.jpg 750w, https://m.media-amazon.com/images/M/MV5BYzI2ZTkzMTgtNWZiNi00Mjg4LTgwY2EtNjE0NmE3NjFhY2JkXkEyXkFqcGdeQXZ3ZXNsZXk@._V1_QL75_UX1000_CR0,0,1000,563_.jpg 1000w"
                                                                 sizes="100vw, (min-width: 480px) 68vw, (min-width: 600px) 52vw, (min-width: 1024px) 32vw, (min-width: 1280px) 32vw"
                                                                 width="500"></div>
                                    <a data-testid="videos-slate-overlay-2" class="ipc-lockup-overlay ipc-focusable"
                                       href="/video/vi2908931097/?listId=ls020397192&amp;ref_=fea_vi_i_2"
                                       aria-label="ClipD23 Sizzle Reel 2023">
                                        <div class="ipc-lockup-overlay__screen"></div>
                                        <div class="ipc-lockup-overlay__gradient ipc-lockup-overlay__gradient--linear"></div>
                                        <div class="ipc-lockup-overlay__content">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 class="ipc-icon ipc-icon--play-circle-outline ipc-lockup-overlay__icon"
                                                 viewBox="0 0 24 24" fill="currentColor" role="presentation">
                                                <path d="M10.8 15.9l4.67-3.5c.27-.2.27-.6 0-.8L10.8 8.1a.5.5 0 0 0-.8.4v7c0 .41.47.65.8.4zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path>
                                            </svg>
                                            <span class="ipc-lockup-overlay__text">Clip 1:40</span></div>
                                    </a></div>
                                <div class="ipc-slate-card__content">
                                    <div class="ipc-slate-card__text-container"><a
                                                class="ipc-slate-card__title ipc-slate-card__title--clickable VideoSlate__title"
                                                aria-label="ClipD23 Sizzle Reel 2023"
                                                data-testid="videos-slate-card-title-2"
                                                href="/video/vi2908931097/?listId=ls020397192&amp;ref_=fea_vi_t_2">
                                            <div class="ipc-slate-card__title-text ipc-slate-card__title-text--clamp-2">
                                                D23 Sizzle Reel 2023
                                            </div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="ipc-shoveler__arrow ipc-shoveler__arrow--right ipc-pager ipc-pager--right ipc-pager--large"
                             role="presentation">
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                 class="ipc-icon ipc-icon--chevron-right-inline ipc-icon--inline ipc-pager-icon"
                                 viewBox="0 0 24 24" fill="currentColor" role="presentation">
                                <path d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z"></path>
                            </svg>
                        </div>
                    </div>
                </section>
            </section>
            <section class="sc-a2dd587f-0 cXRfLx">
                <section data-testid="symphony-FreeFormMarkdown"
                         class="ipc-page-section ipc-page-section--base sc-6a5a7761-0 iWapSG">
                    <div class="ipc-html-content ipc-html-content--base sc-6a5a7761-1 iBmiPS" role="presentation">
                        <div class="ipc-html-content-inner-div">MMDb is the world's most popular and authoritative
                            source for information on movies, TV shows, and celebrities. Products and services to help
                            fans discover and decide what to watch and where to watch it include: the MMDb website for
                            <a class="ipc-md-link" href="http://www.mmdb.com?ref_=fea_eds_center-1">desktop</a> and <a
                                    class="ipc-md-link" href="https://m.mmdb.com?ref_=fea_eds_center-1">mobile
                                devices</a>; <a class="ipc-md-link" href="/apps/?ref_=fea_eds_center-1">apps</a> for iOS
                            and Android; and, X-Ray on Prime Video. For entertainment industry professionals, MMDb
                            provides <a class="ipc-md-link"
                                        href="https://pro.mmdb.com?ref_=fea_eds_center-1">MMDbPro</a> and <a
                                    class="ipc-md-link" href="https://www.boxofficemojo.com?ref_=fea_eds_center-1">Box
                                Office Mojo</a>. MMDb licenses information from its vast and authoritative database to
                            third-party businesses worldwide; learn more at <a class="ipc-md-link"
                                                                               href="https://developer.mmdb.com/?ref_=fea_eds_center-1">developer.mmdb.com</a>.
                            MMDb is an Amazon company. For more information, visit <a class="ipc-md-link"
                                                                                      href="/press?ref_=fea_eds_center-1">https://www.mmdb.com/press</a>
                            and follow @MMDb.
                        </div>
                    </div>
                </section>
            </section>
            <section class="sc-a2dd587f-0 cXRfLx">
                <section data-testid="symphony-FreeFormMarkdown"
                         class="ipc-page-section ipc-page-section--base sc-6a5a7761-0 iWapSG">
                    <div class="ipc-title ipc-title--base ipc-title--subsection-title ipc-title--on-textPrimary">
                        <hgroup><h3 class="ipc-title__text">Press Releases</h3></hgroup>
                    </div>
                    <div class="ipc-html-content ipc-html-content--base sc-6a5a7761-1 iBmiPS" role="presentation">
                        <div class="ipc-html-content-inner-div">November 30, 2023<br><a class="ipc-md-link"
                                                                                        href="https://m.media-amazon.com/images/G/01/MMDb/pr/pdf/MMDbPressRelease_113023MMDbRevealstheMostPopularIndianMoviesandWebSeriesof2023.pdf?ref_=fea_eds_center-5">MMDb
                                REVEALS THE MOST POPULAR INDIAN MOVIES AND WEB SERIES OF 2023</a><br><br>November 22,
                            2023<br><a class="ipc-md-link"
                                       href="https://m.media-amazon.com/images/G/01/MMDb/pr/pdf/MMDbPressRelease_112223MMDbAnnouncestheMostPopularIndianStarsof2023.pdf?ref_=fea_eds_center-5">MMDb
                                ANNOUNCES THE MOST POPULAR INDIAN STARS OF 2023</a><br><br>August 16, 2023<br><a
                                    class="ipc-md-link"
                                    href="https://m.media-amazon.com/images/G/01/MMDb/pr/pdf/MMDbPressRelease_081623ReFrameandMMDbProAnnounce2022-23ReFrameStampedTVSeries.pdf?ref_=fea_eds_center-5">REFRAME
                                AND MMDbPRO AWARD THE REFRAME STAMP FOR GENDER-BALANCED HIRING TO 94 OF THE 200 MOST
                                POPULAR TV AND STREAMING SERIES OF 2022-23, INCLUDING EMMY NOMINEES ABBOTT ELEMENTARY,
                                THE BEAR, YELLOWJACKETS, AND WEDNESDAY</a><br><br>July 13, 2023<br><a
                                    class="ipc-md-link"
                                    href="https://m.media-amazon.com/images/G/01/MMDb/pr/pdf/MMDbPressRelease_071323MMDbRevealstheMostPopularIndianMoviesandWebSeriesof2023SoFar.pdf?ref_=fea_eds_center-5">MMDb
                                REVEALS THE MOST POPULAR INDIAN MOVIES AND WEB SERIES OF 2023 (SO FAR)</a><br><br>July
                            6, 2023<br><a class="ipc-md-link"
                                          href="https://m.media-amazon.com/images/G/01/MMDb/pr/pdf/MMDbPressRelease_070623AngiraDharReceivesMMDbSTARmeterAward.pdf?ref_=fea_eds_center-5">ANGIRA
                                DHAR RECEIVES AN MMDb STARMETER AWARD</a></div>
                    </div>
                </section>
            </section>
            <section class="sc-a2dd587f-0 cXRfLx">
                <section data-testid="symphony-FreeFormMarkdown"
                         class="ipc-page-section ipc-page-section--base sc-6a5a7761-0 iWapSG">
                    <div class="ipc-title ipc-title--base ipc-title--subsection-title ipc-title--on-textPrimary">
                        <hgroup><h3 class="ipc-title__text">MMDb in the News</h3></hgroup>
                    </div>
                    <div class="ipc-html-content ipc-html-content--base sc-6a5a7761-1 iBmiPS" role="presentation">
                        <div class="ipc-html-content-inner-div">Entrepreneur.com<br><a class="ipc-md-link"
                                                                                       href="https://www.entrepreneur.com/growing-a-business/mmdb-founder-shares-his-biggest-career-and-success-tips/458277?ref_=fea_eds_center-10">From
                                Film Fan to Movie Mogul: The CEO of MMDb Shares His Journey Founding World's Largest
                                Online Movie Database</a><br><br>The Hollywood Reporter<br><a class="ipc-md-link"
                                                                                              href="https://www.hollywoodreporter.com/tv/tv-news/reframe-report-tv-1235567191/?ref_=fea_eds_center-10">Women
                                Star in Majority of the Most Popular TV Shows, Study Finds</a><br><br>The Times of India<br><a
                                    class="ipc-md-link"
                                    href="https://timesofindia.indiatimes.com/gadgets-news/in-pics-mmdb-announces-preferred-services-feature-for-android-iphone-app/articleshow/102811527.cms?ref_=fea_eds_center-10">MMDb
                                announces ‘Preferred Services’ feature for Android, iPhone app</a><br><br>Variety<br><a
                                    class="ipc-md-link"
                                    href="https://variety.com/2023/global/asia/sacred-games-mirzapur-scam-1992-mmdb-50-all-time-india-series-1235631206/?ref_=fea_eds_center-10">‘Sacred
                                Games,’ ‘Mirzapur, ‘Scam 1992’ Top MMDb’s 50 All-Time Most Popular Indian Streaming
                                Series List (EXCLUSIVE)</a><br><br>The Wrap<br><a class="ipc-md-link"
                                                                                  href="https://www.thewrap.com/office-with-a-view-mmdb-col-needham/?ref_=fea_eds_center-10">MMDb’s
                                CEO Says Hollywood Should Embrace Tech: ‘There Are Better Ways to Tell Their
                                Stories’</a></div>
                    </div>
                </section>
            </section>
            <section class="sc-a2dd587f-0 cXRfLx">
                <section data-testid="symphony-FreeFormMarkdown"
                         class="ipc-page-section ipc-page-section--base sc-6a5a7761-0 iWapSG">
                    <div class="ipc-title ipc-title--base ipc-title--subsection-title ipc-title--on-textPrimary">
                        <hgroup><h3 class="ipc-title__text">MMDb Press Inquiries</h3></hgroup>
                    </div>
                    <div class="ipc-html-content ipc-html-content--base sc-6a5a7761-1 iBmiPS" role="presentation">
                        <div class="ipc-html-content-inner-div">To request an interview or additional information about
                            MMDb, please send an email to <strong><a class="ipc-md-link"
                                                                     href="mailto:press@mmdb.com?ref_=fea_eds_center-28">press@mmdb.com</a></strong>.<br><br>Please
                            note: MMDb's press email alias is for use exclusively by journalists on deadline. Inquiries
                            about other topics will not receive a response. For all other inquiries, please contact
                            MMDb's <a class="ipc-md-link"
                                      href="http://www.mmdb.com/helpdesk/contact?ref_=fea_eds_center-28">helpdesk</a>.
                        </div>
                    </div>
                </section>
            </section>
            <section class="sc-a2dd587f-0 cXRfLx">
            </section>
            <section class="sc-a2dd587f-0 cXRfLx">
                <section data-testid="symphony-LinksWidget"
                         class="ipc-page-section ipc-page-section--base sc-b944de-0 lknnAg">
                    <div class="ipc-title ipc-title--base ipc-title--subsection-title ipc-title--on-textPrimary">
                        <hgroup><h3 class="ipc-title__text">Company Links</h3></hgroup>
                    </div>
                    <div class="ipc-chip-list--base ipc-chip-list ipc-chip-list--wrap sc-b944de-1 lnBAZN">
                        <div class="ipc-chip-list__arrow ipc-chip-list__arrow--left" role="presentation">
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                 class="ipc-icon ipc-icon--chevron-left-inline ipc-icon--inline" viewBox="0 0 24 24"
                                 fill="currentColor" role="presentation">
                                <path d="M18.378 23.369c.398-.402.622-.947.622-1.516 0-.568-.224-1.113-.622-1.515l-8.249-8.34 8.25-8.34a2.16 2.16 0 0 0 .548-2.07A2.132 2.132 0 0 0 17.428.073a2.104 2.104 0 0 0-2.048.555l-9.758 9.866A2.153 2.153 0 0 0 5 12.009c0 .568.224 1.114.622 1.515l9.758 9.866c.808.817 2.17.817 2.998-.021z"></path>
                            </svg>
                        </div>
                        <div class="ipc-chip-list__scroller"><a class="ipc-chip ipc-chip--on-base" role="button"
                                                                tabindex="0" aria-disabled="false"
                                                                href="https://brand.mmdb.com/?ref_=fea_eds_center-30_pr_company_1"><span
                                        class="ipc-chip__text">Brand Guidelines</span></a><a
                                    class="ipc-chip ipc-chip--on-base" role="button" tabindex="0" aria-disabled="false"
                                    href="https://pro-labs.mmdb.com/?ref_=fea_eds_center-30_pr_company_2"><span
                                        class="ipc-chip__text">MMDbPro</span></a><a class="ipc-chip ipc-chip--on-base"
                                                                                    role="button" tabindex="0"
                                                                                    aria-disabled="false"
                                                                                    href="https://brand.mmdb.com/mmdbpro?ref_=fea_eds_center-30_pr_company_3"><span
                                        class="ipc-chip__text">MMDbPro Brand Guidelines</span></a><a
                                    class="ipc-chip ipc-chip--on-base" role="button" tabindex="0" aria-disabled="false"
                                    href="http://www.boxofficemojo.com/?ref_=fea_eds_center-30_pr_company_4"><span
                                        class="ipc-chip__text">Box Office Mojo</span></a><a
                                    class="ipc-chip ipc-chip--on-base" role="button" tabindex="0" aria-disabled="false"
                                    href="https://developer.mmdb.com/?ref_=fea_eds_center-30_pr_company_5"><span
                                        class="ipc-chip__text">MMDb Developer</span></a><a
                                    class="ipc-chip ipc-chip--on-base" role="button" tabindex="0" aria-disabled="false"
                                    href="/pressroom/stats/?ref_=fea_eds_center-30_pr_company_6"><span
                                        class="ipc-chip__text">MMDb Stats</span></a></div>
                        <div class="ipc-chip-list__arrow ipc-chip-list__arrow--right" role="presentation">
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                 class="ipc-icon ipc-icon--chevron-right-inline ipc-icon--inline" viewBox="0 0 24 24"
                                 fill="currentColor" role="presentation">
                                <path d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z"></path>
                            </svg>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <div class="sc-92e7f2f7-3 dxBMqd ipc-page-grid__item ipc-page-grid__item--span-1">
            <section data-testid="symphony-FreeFormMarkdown"
                     class="ipc-page-section ipc-page-section--base sc-6a5a7761-0 iWapSG">
                <div class="ipc-title ipc-title--base ipc-title--subsection-title ipc-title--on-textPrimary">
                    <hgroup><h3 class="ipc-title__text">More to Explore</h3></hgroup>
                </div>
                <div class="ipc-html-content ipc-html-content--base sc-6a5a7761-1 iBmiPS" role="presentation">
                    <div class="ipc-html-content-inner-div">
                        <ul>
                            <li><a class="ipc-md-link" href="/awards-central/?ref_=fea_eds_right-1">Awards Central</a>
                            </li>
                            <li><a class="ipc-md-link" href="/best-of/?ref_=fea_eds_right-1">Best Of</a></li>
                            <li><a class="ipc-md-link" href="/family-entertainment-guide/?ref_=fea_eds_right-1">Family
                                    Entertainment Guide</a></li>
                            <li><a class="ipc-md-link" href="/festival-central/?ref_=fea_eds_right-1">Festival
                                    Central</a></li>
                            <li><a class="ipc-md-link" href="/originals/?ref_=fea_eds_right-1">MMDb Originals</a></li>
                            <li><a class="ipc-md-link" href="/mmdbpicks/?ref_=fea_eds_right-1">MMDb Picks</a></li>
                            <li><a class="ipc-md-link" href="/starmeterawards/?ref_=fea_eds_right-1">MMDb STARmeter
                                    Awards</a></li>
                            <li><a class="ipc-md-link" href="/india/?ref_=fea_eds_right-1">India Spotlight</a></li>
                            <li><a class="ipc-md-link" href="/comic-con/?ref_=fea_eds_right-1">San Diego Comic-Con</a>
                            </li>
                            <li><a class="ipc-md-link" href="/scary-good/?ref_=fea_eds_right-1">Scary Good</a></li>
                            <li><a class="ipc-md-link" href="/star-wars/?ref_=fea_eds_right-1">Star Wars </a></li>
                            <li><a class="ipc-md-link" href="/superheroes/?ref_=fea_eds_right-1">Superheroes </a></li>
                            <li><a class="ipc-md-link" href="/video-games/?ref_=fea_eds_right-1">Video Games</a></li>
                            <li><a class="ipc-md-link" href="/whats-on-tv/?ref_=fea_eds_right-1">What's on TV </a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
<%- include('partials/footer') %>
</html>